.title {
    background-color: #02182C;
    margin-top: 0;
    padding: 40px 0px 80px 500px;
}

.title h3{
    display: inline;
    font-size: 14pt;
    padding: 10px 0px 0px 20px;

}

.login-signup h4{
    padding: 0px 0px 0px 575px;   
}

.username-box{
    margin: 0px auto;
    width: 600px;
    height: 50px;
    padding-left: 420px;
}
.container-0{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-1 .icon{
  
  color: #fff;
}
.password-box{
    margin: 0px auto;
    width: 600px;
    height: 50px;
    padding-left: 420px; 
}
.login-button{
    padding-left: 570px;
    
}


.box{
    
    margin: 40px auto;
    width: 600px;
    height: 50px;
}

.container-1{
  width: 500px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 400px;
  height: 50px;
  background: #02182C;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}




.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.content {
    margin-left: 40px;
}

.title h1{
    font-family: 'Lobster', cursive;
    font-size: 50pt;
}

a.navigation{
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

.genre-links h2{
    font-size: 24pt;
    padding: 0px 0px 0px 60px;
}

a.navigation-genre{
    font-size: 12pt;
    background-color: #02182C;
}


.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

