<!DOCTYPE html>
<html>
    <head>
    	{% load staticfiles %} 	
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type = "text/css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/contact.css' %}">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<title>Multiverse About</title>
        <style type="text/css">
            html,
            body {
                height:100%
            }
        </style>
        
    </head>

    <body class="body" style="background-color:#f6f6f6">
        <div class = "title">
            
            <h3><a class = "navigation" href = 'moksh94.pythonanywhere.com'>Home</a></h3>
            <h3><a class = "navigation" href = 'moksh94.pythonanywhere.com/about'>About</a></h3>
            <h3><a class = "navigation" href = 'moksh94.pythonanywhere.com/contact'>Contact us</a></h3>
        </div>

        <div class = 'content' style="background-color:#83B2BB">
            <h2><b><u><center>Contact Us</center></u></b></h2>
            <div class = 'details'>
                <h3><b>Bryan Wagner</b></h3>
                <p> Phone: 832-890-0000 </p>
                <p> Email: bryan@bryan.com </p>
                <h3><b>Mokshesh Shah</b></h3>
                <p> Phone: 832-890-0000 </p>
                <p> Email: moksh@moksh.com </p>
                <h3><b>Nick Juarez</b></h3>
                <p> Phone: 832-890-0000 </p>
                <p> Email: nick@nick.com </p>

            </div>
            


        </div>